blockquote {
  font-style: italic; 
}
.nav {
  position: fixed;
  top: 10px;
  left: 10px;
}
.mt {
  margin-top: 50px;
}
.navbar {
  margin-bottom: 0;
}
.card {
  margin-bottom: 2rem;
}
.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
p+blockquote {
  border-left: #868e96 2px solid;
  padding-left: 10px;
}
.bg-light {
  background-color: #efeeee !important;
}
.arrow {
  font-size: 2.5rem;
  color: #efeeee;
  padding-top: 100px;
  padding-bottom: 100px;
}
.arrow:hover {
  color: #868e96;
}
.card-img-top {
  text-align: center;
}
.card hr {
  margin-left: -20px;
  margin-right: -20px;
}
.card .alert-secondary {
  background-color: rgba(0,0,0,.03);
  font-style: italic;
}
h4>a>.fa {
  font-size: 0.9rem;
  padding-left: 5px;
}
.card-subtitle {
  font-weight: 400;
}
.card-footer {
  padding: .25rem 0.35rem;
}
.card-footer .fa {
  padding-left: 5px;
}
.collection>.card-header {
  padding-bottom: 0.5rem;
}
.collection h4 a {
  color: #212529 !important;
}
.twitter-tweet {
  margin-top: 0px !important; 
  margin-bottom: 0px !important;
  border: none;
}
.quote>.card-body {
  padding-bottom: 0.25rem;
}
.bando {
  position: absolute;
  right: 0px;
  top: 15px;
  background-color: red;
  padding: 3px 10px; 
  z-index: 100;
}